.OptionPanel {
    position: absolute;
    width: 370px;
    opacity: 60%;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.OptionPanel:hover {
    opacity: 90%;
}

.DragBall {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 10px;
    opacity: 60%;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    color: white;
    background: aqua no-repeat fixed center;
}

.DragBall:hover {
    opacity: 90%;
}

.MainPanel {
    background-color: aquamarine;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.OptionMainTitle {
    text-align: center;
}

.OptionMainSep {
    text-align: center;
    line-height: 5px;
}

#MainBtn,
#SaveOpBtn {
    width: 360px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: hotpink;
    font-size: 20px;
}

.OptionUL li {
    position: relative;
    list-style: none;
}

.OptionInput {
    position: absolute;
    right: 25px;
}